body {
	background-color: #FFAA00;
}

table {
	border: solid black 2px;
}

th {
	border: solid black 1px;
	background-color: #FFAAAA;
}

td {
	border: solid black 1px;
	background-color: #FF8888;
}

.caption {
	background-color: #DD9999;
	float: left;	
	width: 170px;
	text-align: right;		
}
