<!DOCTYPE html>
<html ng-app="elfPlayer">
<head>
    <title>Quell The Rebels Final</title>
    <link rel="shortcut icon" href="Assets/favicon.png">
    <link href="Style/index.css" rel="stylesheet" type="text/css" />    
    <script src="Library/angular.js"></script>
    <script src="Library/angular-resource.min.js"></script>
	<script src="Library/crafty.js"></script>	
	<script src="Source/GameCore/Actors.js"></script>
	<script src="Source/GameCore/Food.js"></script>
	<script src="Source/GameCore/Grid.js"></script>	
	<script src="Source/GameCore/Player.js"></script>
	<script src="Source/GameCore/Scenes.js"></script>
	<script src="Source/GameCore/Village.js"></script>
	<script src="Source/GameWrapper.js"></script>
	<script src="Source/Characters/CharacterData.js"></script>
	<script src="Source/Characters/Characters.js"></script>
	<script src="Source/Characters/Hero.js"></script>
	<script src="Source/Characters/planet.js"></script>
	<script src="Source/ElfGame.js"></script>
	<script src="Source/ElfPlayer.js"></script>	
			      
</head>
<body>
    <div id="gameBoard">
        
    </div>
    
    <div id="textDisplay" ng-controller="ElfController">
        <p>Quell the Rebellion Final</p>
        <p>{{name}}</p>
        <h2>Armor Left {{hitPoints-damage}}</h2>
        <p>ac: {{armorClass}} hit points: {{hitPoints}} damage: {{damage}}</p>
        <p>{{eventNote}}</p>
        <p>{{encounterMessage}}</p>
        <p>Move Messages</p>
        <select size=3 ng-model="crazyFoo" ng-options="msg for msg in moveMessages"> </select><br>
        <p>Debug Messages</p>
        	<select size=3 ng-model="crazyBar" ng-options="message for message in debugMessages"> </select><br>
            <!-- ul ng-repeat="debugMessage in debugMessages track by $index">			
                <li>{{debugMessage}}</li>
            </ul -->                
    </div>
</body>
</html>